.gitignore
*.egg-info/
dist/
build/
scratch/
.idea/
.pytest_cache
**/__pycache__
.coverage
htmlcov/
coverage.*
.codecovtoken
examples/icon_small.png
support/
setupdev.py
*/_build/
*.bat
dev/
.Rhistory
benchmarks/*
.venv
poetry.lock
pyproject.toml
*.DS_Store*
.devcontainer
Dockerfile
dev_guide.md
